
body {
    background-color: dimgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 30px;
    padding: 50px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    color: azure;
}

.card_grande{
    
    flex-flow: column;
    border: 1px solid black;
    border-radius: 2%;
    width: 600px;
    height: 500px;
    justify-content: center;
    padding: 50px;
    background-color: aliceblue;
    margin: auto;   
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    width: 172px;
    height: 50px;
    background: #7DB1FF;
    border: 1px solid #2774E7;
    box-shadow: 2px 11px 0px -5px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    
}



